.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    border: 1px solid silver;
}

.card{
    width: 300px;
    border: 2px solid silver;
    height: 350px;
}

h2{
    margin-top: 50px;
    text-align: center;
}

p{
    box-sizing: border-box;
    padding: 20px;
    margin: 50px 0;
    color: gray;
    text-align: justify;
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    text-decoration: none;
    color: black;
}